/* Theme Pallet:
https://99designs.com/blog/creative-inspiration/color-combinations/
Hex code: #d9a5b3[Mauve], #1868ae[Spphire], #c6d7eb[Powder Blue] 
Hex code: #8a307f[RaspBerry], #79a7d3[Blue], #6883bc[light blue]
Hex code: #cf1578, #e8d21d, #039fbe and #b20238
5. Magenta, goldenrod, turquoise and brick
*/

*{
    font-family: 'Glory', sans-serif;
     margin: 0;
}